doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    // Bootstrap CSS
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1' crossorigin='anonymous')
    title NightNotes
    style.
      footer {
      text-align: center;
      padding-bottom: 10px;
      padding-top: 10px;
      }
      {% load static %}
      body {
      font-family: sans-serif;
      background: url('/public/moon_dreams.jpg');
      background-size: 100% 100%;
      height: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      margin-bottom: 40px;
      }
      h1, h2, p, div {
      color: white;
      margin-left: 40px;
      }

  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      .container
        a.navbar-brand(href='/home') NightNotes
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
          span.icon-bar
          span.icon-bar
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href='/signin') Login
            li.nav-item
              a.nav-link(href='/signup') Sign up
    .col-md-10
      br
      br
      h1 NightNotes
      h2 Sleep. Track your dreams. Repeat.
      div
        | Keep notes on all your dreams with this handy tool.
        br
        br
        a.btn.btn-primary(type='button' href="/signin" role='button') Try it now
        br
    br
    br
    br
    footer.footer.navbar-dark.bg-dark.fixed-bottom
      .container
        span.text-muted © NightNotes 2021
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js' integrity='sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW' crossorigin='anonymous')
